html{
}
body {
    padding-bottom: 20px;
    background-color: #f5f8fa;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#twitterBird, #twitterBird1{
    color: #1DA1F2;
    font-size: 30px;
}
#twitterBird1{
    font-size: 20px;
    margin-top: 8px;
    color: white;
    padding-right: 20px;
}
.navbar-brand.navRight{
    border-bottom: 0px !important;
    padding-top: 10px;
}
#twitterNavRight{
    color: #8899a6;
    font-size: 25px;
}
#registerLink, #loginLink{
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
    margin-top: 15px;
}
#loginLink1{
    text-align: center;
    padding: 0 5px;
    color: #fff;
    background-color: #4786b3;
    border: 1px solid #ccc;
    margin-top: 6px;
    height: 24px;
    float: right;
}
#registerFormField{
    max-width: 800px !important;
    width: 500px;
    border-radius: 0;
}
#submitRegister{
    margin-top: 15px;
    border-radius: 0px; 
    max-width: 800px !important; 
    width: 500px; 
    color: #fff;
    background-color: #4786b3;
    border: 1px solid #2477b3;
}
#registerLink{
    color: #1DA1F2;
    border-color: #fff;
    background: #fff;
}
#registerLink:hover, #loginLink:hover{
    background: #fff;
    color: #1da1f2;
}
#loginLink{
    background-color: rgba(255,255,255,0.3)
}
#registerButton{
    margin-right: 10px;
}

.navTitle{
    color: white;
    position: absolute;
    margin-top: 70px;
    margin-left: 300px
}
.navTitle h2{
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
#navbarContainer{
    margin: 0 194px;
    padding:0; 
}
.topNav{
    /*height: 210px;*/   
}
.navbar-brand{
    padding: 5px 15px 10px;
    border-bottom: 4px solid #1DA1F2;
}

.categoryNav{
    height: 59px;
}
.categoryTabs{
    position: absolute;
    background: transparent;
    height: 59px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 107px;
    border-bottom: 0 solid #1da1f2;
    padding-bottom: 5px;
}
.categoryTabsUL li{
    padding: 15px 10px 0 10px;
}
.categoryTabs1{
    list-style: none;
    display: inline-block;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 107px;
    border-bottom: 0 solid #1da1f2;
    padding-bottom: 5px;
    text-align: center;
    height: 59px;
}
.categoryTabs1 li{
    

}
.categoryTabs1:hover{
    border-bottom-width: 5px;
    padding-bottom: 0;
    text-decoration: none;
}
.categoryTabs:hover{
    border-bottom-width: 5px;
    padding-bottom: 0;
    text-decoration: none;
}
.ctSearch{
    margin: 0 auto;
}
#searchIcon{
    font-size: 20px;
}
.ctItem{

}